Host *
StrictHostKeyChecking no

Host www
HostName vandenberk.me
User bill

Host local
HostName 192.168.1.2
User bill

Host vpn
HostName vpn.vandenberk.me
User bill

Host owncloud
HostName owncloud.vandenberk.me
User bill

Host home
HostName home.vandenberk.me
User bill

Host programmer
HostName 192.168.1.207
User pi

Host internal.well.prod manage*.well.prod smc*.well.prod
  ProxyCommand ssh 67.223.99.60 nc %h %p
  #ProxyCommand ssh 67.223.99.50 nc %h %p

Host vyatta.well.lan
User vyatta

Host internal.well.lan
User root

Host media.well.ca
Port 28947
User wellmedia

Host 204.15.199.162 well.ca
Port 21122
User wellca

Host prism.well.prod
User root

Host smc03.well.prod smc02.well.prod smc01.well.prod
  User root

Host *.well.ca *.well.lan *.well.prod *.tulip.prod *.carnation.prod 67.223.99.??
  User welladmin

Host replica
  Port 2255
  User welladmin

Host *
  ForwardAgent yes
  ServerAliveInterval 60
  User welladmin

Host manage.well.prod
  HostName 67.223.99.50

Host manage02-smc02.well.prod manage02.well.prod
  HostName 67.223.99.60

Host nat01-well-prod
  Hostname 52.23.120.206

Host *.well.prod
  ProxyCommand ssh nat01-well-prod nc %h %p

Host nat01-priority
  Hostname 67.223.99.60

Host *.well.priority
  ProxyCommand ssh nat01-priority nc $(echo '%h' | sed -e 's/priority/prod/') %p

Host phabricator.tulip.prod lb2.tulip.prod chef.tulip.prod *.carnation.prod
  ProxyCommand ssh 67.223.99.60 nc %h %p
  #ProxyCommand ssh 67.223.99.50 nc %h %p

Host sftp.tulip.io
  Hostname sftp.tulip.io
  User welladmin
  StrictHostKeyChecking no

# images vpc
#
Host nat01-imagesvpc nat01-imagesvpc.tulip.prod nat01.images.prod
  Hostname ec2-54-86-121-252.compute-1.amazonaws.com
  User welladmin
  StrictHostKeyChecking no

Host proxy*.tulip.prod *.images.prod
  ProxyCommand ssh nat01-imagesvpc nc %h %p
  User welladmin
  StrictHostKeyChecking no

# coach devstaging vpc
#
Host nat01-coach-devstaging
  HostName 52.3.148.237
  User welladmin

Host *.coach.dev *.coach.staging
  ProxyCommand ssh nat01-coach-devstaging nc %h %p
  User welladmin
  StrictHostKeyChecking no

Host nat01-coach
  HostName 52.21.226.79
  User welladmin

Host *.coach.prod
  ProxyCommand ssh nat01-coach nc %h %p
  User welladmin
  StrictHostKeyChecking no

Host nat01-saks-devstaging
  Hostname 52.87.86.223
  User welladmin

Host *.saks.dev *.saks.staging
  ProxyCommand ssh nat01-saks-devstaging nc %h %p
  User welladmin
  StrictHostKeyChecking no

Host nat01-saks
  HostName 52.72.86.166
  User welladmin

Host *.saks.prod
  ProxyCommand ssh nat01-saks nc %h %p
  User welladmin
  StrictHostKeyChecking no

Host nat01-clienteling-devstaging
  Hostname 52.86.38.80
  User welladmin
  StrictHostKeyChecking no

Host *.clienteling.dev *.clienteling.staging
  ProxyCommand ssh nat01-clienteling-devstaging nc %h %p
  User welladmin
  StrictHostKeyChecking no

Host nat01-gaelan-devstaging
  Hostname 52.87.127.237
  User welladmin
  StrictHostKeyChecking no

Host *.gaelan.dev
  ProxyCommand ssh nat01-gaelan-devstaging nc %h %p
  User welladmin
  StrictHostKeyChecking no

# frye ------------------------------------------

Host nat01-frye-devstaging
  Hostname 52.0.162.92

Host nat01-frye
  Hostname 52.202.101.198

Host *.frye.dev *.frye.staging
  ProxyCommand ssh nat01-frye-devstaging nc %h %p

Host *.frye.prod
  ProxyCommand ssh nat01-frye nc %h %p

# frye end --------------------------------------

# nautica ---------------------------------------

Host nat01-nautica
  Hostname 52.202.25.250

Host *.nautica.prod
  ProxyCommand ssh nat01-nautica nc %h %p

# nautica end -----------------------------------

# favela ---------------------------------------

Host nat01-favela-devstaging
  Hostname 52.70.40.204
  User welladmin
  StrictHostKeyChecking no

Host *.favela.dev
  ProxyCommand ssh nat01-favela-devstaging nc %h %p
  User welladmin
  StrictHostKeyChecking no

# favela end -----------------------------------

# main tulip shared vpc
#
Host nat01 nat01.tulip.prod
  Hostname 54.84.30.168
  User welladmin
  StrictHostKeyChecking no

Host *.dev *.staging *.demo *.prod
  ProxyCommand ssh nat01 nc %h %p
  User welladmin
  StrictHostKeyChecking no

Host vagrant
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile ~/.vagrant.d/insecure_private_key
  IdentitiesOnly yes

